.steps {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.steps-outlet {
  position: relative;
  flex: 1;
}

.step-navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}
